* {
    margin: 0;
    padding: 0;
}

body {
    background: #a07237;
}

h1 {
    font-family: 'Henny Penny';
    font-size: 3em;
    text-shadow: 3px 3px black;
}

h2 {
    text-shadow: 3px 3px black;
}

img {
    height: 50vh;
    width: 100%;
    box-shadow: 1px 1px 3px white;
}

.thumb_container {
    width: 125px;
    display: inline-block;
}

.thumb {
    width: 100%;
    height: 100px;
   
    box-shadow: none;
}


#instructions {
    border: 10px white ridge;
}