<h1>hello</h1>
<form action="search" method="GET">
    <label for="search">Search for an Animal Crossing Character</label>
    <input type="search" name="searchTerm" id="search"/>
    <button type="submit">Search</button>


</form>
<div id="grid-container">
    <% villagers.forEach(villager => { %>
        <article>
            <img src="<%= villager.image_uri %>" alt=""/>
            <a href="/<%= villager.id %>"><h3><%= villager.name["name-USen"] %></h3></a>
        </article>
    <% }) %> 