<h1>Villager Page</h1>

<main>
    <h2><%= villager.name["name-USen"]%></h2>
    <img src="<%= villager.image_uri %>"/>
    <ul>
        <li>Birthday: <%=villager.birthday %></li>
        <li>Gender: <%=villager.gender %></li>
    </ul>
</main> 