<%- include('partials/header') %> 


<div class="container text-center mt-4" >
        <div class="row">
            <div class="col-6 offset-3">
                <h1>BitCoin Price App</h1>
                    
                    <form action="/getPrice" method="get">
                        <div class="row text-center">
                            <input name='btn' type="radio"  id="usd" value="USD"  checked/><label for="usd">USD</label>
                            <input name='btn' type="radio"  id="gbp" value="GBP" /><label for="gbp">GBP</label>
                            <input name='btn' type="radio" id="eur" value="EUR"/><label for="eur" >EUR</label>
                        </div>
                    <button type="submit" class="btn text-white btn-primary btn-outline-white">Get Price</button>
                    </form>
                    
                    <!-- * EJS here -->
                    <h4 id="price">The current rate is: <%= symbol %> <%= rate %> </h4>
                
                    <!-- * API requirement reference here -->
                <a href="https://www.coindesk.com/price/bitcoin">Powered by CoinDesk</a>
            </div>
        </div>
</div>


<%- include('partials/footer') %> 
