<% objectArray.forEach(element => { %>
    <div class="col-3 card">
        <h2>Name: <%= element.name %> </h2>
        <p>Description: <%= element.description %> </p>
        <p>Age: <%= element.age %> </p>
    </div>