<%- include("partials/header") %> 

<div class="jumbotron jumbotron-fluid bg-light mx-auto">
    <div class="container">
        <div class="row">
            <div class="col offset-2">
                <p>Have any suggestions? Please enter below.</p>
                <textarea name="" id="" cols="10" rows="5" class="col-11"></textarea>
                <br>
                <input type="submit">
            </div>
        </div>
    </div>
  </div>


<%- include("partials/footer") %> 