<%- include("partials/header") %> 

<div class="jumbotron jumbotron-fluid bg-light mx-auto">
    <div class="container">
        <div class="row">
            <div class="col offset-2">
                <h1 class="display-4">Welcome to the Donut Shop</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consectetur laboriosam unde, ad aspernatur aliquam! Fugiat eos sequi vel, beatae libero tenetur perferendis pariatur reiciendis in deleniti nisi consectetur asperiores.</p>
            </div>
        </div>
    </div>
  </div>

<%- include("partials/footer") %> 