body,html{
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eaf0f2;
  font-family: 'Redressed', cursive;
}


/* navbar styles */

.newsLabel, .navButtons {
  display: inline-block;
}

.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #263238;
}

a {
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
}

li a:hover {
  background-color: #37474f;
}

#news{ 
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 35px;
}

/* Dropdown Button */

.dropbtn {
  background-color: #4caf4f00;
  color: white;
  font-size: 25px;
  border: none;
  padding-top: 19px;
  position: relative;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #5e7c8a;
  text-decoration: none;
  color: white;
}

#fa-comment{ 
  padding: 7px;
}

/* main styles */
h1{
  padding: 20px;
}

img{
  height: 700px;
  width: 900px;
  padding: 20px;
}

button{
  position: relative;
  display: inline-block;
  left: 100px;
}

main>div{
  padding: 30px;
}


/* Change the link color to #111 (black) on hover */


/* footer styles */

footer{
  text-align: center;
  background-color: #263238;
  border: 0;
  margin: 0;
  bottom: 40px;

}

h2, h5{
  color: white;
}

footer>p{
  color: grey;
}





/* Container holding the image and the text
.textoverlay {
    position: relative;
  }
  
  /* Bottom right text */
  /* .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  } */ 