body {
    background: blue;
    font-family: comic sans ms;
}

h1 {
    color: white;
    text-shadow: 3px 3px 3px darkblue;
}

.container.well {
    width: 50%;
}

.listResults {
    background: lightblue;
}
h4,
th {
    font-weight: bold;
    font-size: 1.5em;
}
