* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 80%;
}

body {
    background-color: #94aab1;
    font-family: "Roboto", sans-serif;
}

form {
    border:black;
}


input {
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    color: #2980b9;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
}

input:focus {
    border: 3px solid darkgreen;
    background: white;
    outline: none;
}



li:hover span {
    opacity: 1;
}
