html, body{
    max-width: 800px;
    margin: auto;
}

form{
    box-sizing: border-box;
    border: 1px solid grey;
    padding: 20px;
    display: grid;
}

input{
    width: 50%;
    margin: 10px 0 10px 0;
    padding: 12px;
    border-radius: 5px;
}

#submit{
    align-items: center;
    width: 100px;
}